<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Proyecto de Base de Datos.">
  <meta name="author" content="Manuel Pérez">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>PowerGym | {% block title %}{% endblock title %}</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="" class="brand-logo"><img src="{% static 'img/logo2.png' %}"></img></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">CLASES</a></li>
        <li><a href="#">ESTRENADORES</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li><a class="modal-trigger" href="#login"><i class="material-icons">perm_identity</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">CLASES</a></li>
        <li><a href="#">ESTRENADORES</a></li>
        <li><a href="#">CONTACTO</a></li>
        <div class="divider"></div>
        <li><a class="modal-trigger" href="#login"><i class="material-icons left">perm_identity</i>Sign In</a></li>
      </ul>
    </div>
  </nav>
  
  <main>
    <div class="container">
      <div id="login" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    {% block content %}{% endblock content %}
  </div>
  </main>

  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
