<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Proyecto de Base de Datos.">
  <meta name="author" content="Manuel Pérez">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>PowerGym | {% block title %}{% endblock title %}</title>
  {% load staticfiles %}
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    new WOW().init();
  </script>
</head>
<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'img/logo2.png' %}"></img></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">INICIO</a></li>
        <li><a href="{% url 'about' %}">NOSOTROS</a></li>
        <li><a href="classes">CLASES</a></li>
        <li><a href="{% url 'trainers' %}">ESTRENADORES</a></li>
        <li><a href="contact">CONTACTO</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'accounts.index' %}">{{ user.username }}</a></li>
          <li><a href="{% url 'accounts.logout' %}">Salir</a></li>
        {% else %}
          <li><a class="modal-trigger" href="#login"><i class="material-icons">perm_identity</i></a></li>
        {% endif %}
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'home' %}">INICIO</a></li>
        <li><a href="{% url 'about' %}">NOSOTROS</a></li>
        <li><a href="classes">CLASES</a></li>
        <li><a href="{% url 'trainers' %}">ESTRENADORES</a></li>
        <li><a href="contact">CONTACTO</a></li>
        <div class="divider"></div>
        {% if user.is_authenticated %}
          <li><a href="{% url 'accounts.index' %}">{{ user.username }}</a></li>
          <li><a href="{% url 'accounts.logout' %}">Salir</a></li>
        {% else %}
          <li><a class="modal-trigger" href="#login"><i class="material-icons left">perm_identity</i>Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% if not user.is_authenticated %}
    <div id="login" class="modal">
      <div class="modal-content">
        <h4><span>Bienvenido.</span> Por favor inicia sesión</h4>
        <form class="container" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_box</i>
              <input type="text" id="username" name="username" class="validate" value="{{ username }}">
              <label for="username">Usuario</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input type="password" name="password" id="password" class="validate">
              <label for="password">Constraseña</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="admin" class=" modal-action modal-close waves-effect waves-orange btn-flat">Administrador</a>
        <button type="submit" class="modal-action modal-close waves-effect waves-orange btn-flat">Entrar</button>
      </div>
    </div>
  {% endif %}
  <main>
    
      {% include '_messages.html' %}
      {% block content %}{% endblock content %}
      
  </main>

  <footer class="page-footer">
    <div class="container">
      <img src="{% static 'img/logo2.png' %}"></img>
      <p>Cada profesional una vez fue un amateur, cada experto una vez fue un principiante, cada soñador una vez tuvo un sueño.</p>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © Power Gym 2016. Todos los derechos reservados. Creado por <a href="http://mperezh.github.io">Manuel Pérez</a>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/responsiveslides.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
