{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <script>
      $(function() {
        $("#slider-home").responsiveSlides({
          speed: 1000
        });
      });
    </script>
    {% load staticfiles %}
    <div class="slider">
      <ul class="rslides" id="slider-home">
        <li>
          <img src="{% static 'img/gym1.jpg' %}" alt="">
          <div class="caption center-align">
            <h3 class="wow fadeInDown">La intensidad construye inmensidad</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">Conviertete en miembro</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'img/gym8.jpg' %}" alt="">
          <div class="caption right-align">
            <h3 class="wow fadeInRight">La confianza en ti mismo</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">será el secreto de tu exito</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'img/gym2.jpg' %}" alt="">
          <div class="caption left-align">
            <h3 class="wow fadeInRight">Cuando pienses en rendirte</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">recuerda la razón por la que empezaste</h5>
          </div>
        </li>
      </ul>
    </div>
    
    <section id="benefits">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>APTITUD & SALUD</h4>
          <p>Un lugar para tus objetivos saludables</p>
        </div>
        
        <div class="content">
          <h5>Lorem ipsum dolor sit amet.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, dicta, impedit quibusdam commodi unde porro autem. Ab, blanditiis, totam culpa vero illo rem dolor nobis dolorum praesentium tempore optio ad veritatis vitae unde reiciendis fuga perspiciatis eius doloribus! Saepe, delectus.</p>
          <a class="hvr-sweep-to-right" href="#">COMIENZA A ENTRENAR HOY</a>
        </div>
      </div>
    </section>
    
    <section id="classes">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>NUESTRAS CLASES</h4>
        </div>
    
        <div class="content">
          <div class="row">
            <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Levantamiento de pesas</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Yoga</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Spinning</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Zumba</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- AQUI VA UNA PROPAGANDA O ALGO ASI, VE QUE INVENTAS -->
    <section id="trainers">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>NUESTROS ENTRENADORES</h4>
        </div>
        
        <div class="content">
          <div class="row">
            <div class="col s12 m6">
              <div class="trainer row">
                <div class="trainer-img card-image col s4"><img src="images/sample-1.jpg"></div>
                <div class="trainer-des col s8">
                  <h5>John Doe</h5>
                  <h6>TRAINER</h6>
                  <div class="divider"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sit quam repellat eaque laborum similique molestiae minus sint error necessitatibus!</p>
                </div>
              </div>
            </div>
            
            <div class="col s12 m6">
              <div class="trainer row">
                <div class="trainer-img card-image col s4"><img src="images/sample-1.jpg"></div>
                <div class="trainer-des col s8">
                  <h5>Jane Doe</h5>
                  <h6>TRAINER</h6>
                  <div class="divider"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sit quam repellat eaque laborum similique molestiae minus sint error necessitatibus!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
