{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <script>
      $(function() {
        $("#slider-home").responsiveSlides({
          speed: 1000
        });
      });
    </script>
    {% load staticfiles %}
    <div class="slider">
      <ul class="rslides" id="slider-home">
        <li>
          <img src="{% static 'img/gym1.jpg' %}" alt="">
          <div class="caption center-align">
            <h3 class="wow fadeInDown">La intensidad construye inmensidad</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">Conviertete en miembro</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'img/gym8.jpg' %}" alt="">
          <div class="caption right-align">
            <h3 class="wow fadeInRight">La confianza en ti mismo</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">será el secreto de tu exito</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'img/gym2.jpg' %}" alt="">
          <div class="caption left-align">
            <h3 class="wow fadeInRight">Cuando pienses en rendirte</h3>
            <h5 class="light grey-text text-lighten-3 wow fadeInRight">recuerda la razón por la que empezaste</h5>
          </div>
        </li>
      </ul>
    </div>
    
    <section id="benefits">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>APTITUD & SALUD</h4>
          <p>Un lugar para tus objetivos saludables</p>
        </div>
        
        <div class="content">
          <h5>Lorem ipsum dolor sit amet.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, soluta, nihil, nemo molestiae iusto tenetur impedit cum pariatur fuga quidem doloribus eum quia hic ullam corporis recusandae delectus nostrum perspiciatis earum officiis aliquam harum magni nobis beatae magnam fugiat maiores amet quos temporibus deserunt officia minus aperiam exercitationem vero itaque expedita neque saepe accusamus nisi reprehenderit dolor aut laboriosam assumenda eligendi dolore non. Repellat, quis, iure nisi dignissimos officia quibusdam quam facilis consequuntur a illum consectetur nobis nulla temporibus et.</p>
          <a class="hvr-sweep-to-right" href="#">COMIENZA A ENTRENAR HOY</a>
        </div>
      </div>
    </section>
    
    <section id="classes">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>NUESTRAS CLASES</h4>
          <p>Echa un vistazo a nuestras más destacadas clases</p>
        </div>
    
        <div class="content">
          <div class="row">
            <div class="col s12 m6 l3">
              <div class="card hvr-sweep-to-top">
                <div class="card-image">
                  <img src="{% static 'img/pesas.svg' %}">
                  <span class="card-title">Levantamiento de pesas</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card hvr-sweep-to-top">
                <div class="card-image">
                  <img src="{% static 'img/meditation.svg' %}">
                  <span class="card-title">Yoga</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card hvr-sweep-to-top">
                <div class="card-image">
                  <img src="{% static 'img/spinning.svg' %}">
                  <span class="card-title">Spinning</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card hvr-sweep-to-top">
                <div class="card-image">
                  <img src="{% static 'img/zumba.png' %}">
                  <span class="card-title">Zumba</span>
                </div>
                <div class="card-content center-align">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Leer más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="trainers">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>ENTRENADORES CALIFICADOS</h4>
          <p>Los mejores entrenadores especializados</p>
        </div>

        <div class="content">
          <div id="owl-demo" class="owl-carousel owl-theme">
            
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer1.jpg' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>John Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer2.png' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>Jane Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer1.jpg' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>John Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer1.jpg' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>John Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer2.png' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>Jane Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            <div class="item trainer row">
              <div class="trainer-img col s4">
                <img src="{% static 'img/trainer2.png' %}"></img>
              </div>
              <div class="trainer-des col s8">
                <h5>Jane Doe</h5>
                <h6>TRAINER</h6>
                <div class="divider orange darken-4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore amet sequi ad ut voluptas maiores.</p>
              </div>
            </div>
            
          </div>
          
          <div class="customNavigation">
            <a class="btn-floating btn-large waves-effect waves-light orange darken-4 prev"><i class="material-icons">keyboard_arrow_left</i></a>
            <a class="btn-floating btn-large waves-effect waves-light orange darken-4 next"><i class="material-icons">keyboard_arrow_right</i></a>
          </div>
        </div>
      </div>
    </section>
    
    <section id="parallax">
      <div class="parallax-container">
        <div class="parallax">
          <img src="{% static 'img/gym4.jpg' %}">
        </div>
      </div>
    </section>
    
    <section id="pricing">
      <div class="container">
        <div class="presentacion wow fadeInRight">
          <h4>PLANES QUE SE ADAPTAN A TI</h4>
          <p>Planes que se ajustan a tus necesidades</p>
        </div>
        
        <div class="content">
          <div class="row">
            <div class="col s12 m4">
              <div class="card wow bounceIn" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/classes.svg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Semanal $15<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Semanal $15<i class="material-icons right">close</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, aliquam?.</p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/lockers.svg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Mensual $50<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Mensual $50<i class="material-icons right">close</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsam similique molestiae itaque numquam possimus!.</p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card wow bounceIn" data-wow-duration="1s" data-wow-delay=".8s">
                <div class="card-image sauna waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/sauna.svg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Anual $600<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Anual $600<i class="material-icons right">close</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur provident nesciunt in neque vero fugiat vel illum nulla aperiam at.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}
