* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  background: #DDD;
}*/

/* HEADER */
.brand-logo img{
  height: 64px;
}

nav {
  background: #FFF;
  box-shadow: none;
}
  nav .button-collapse i {
    color: #FF9800;
  }
  nav ul li a {
    color: #555;
    font-weight: bold;
  }
    nav ul li a:hover {
      color: #FF9800;
    }
    
  /* MODAL LOGIN */
  .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
     color: #FF9800;
   }
   .input-field input[type=text]:focus, .input-field input[type=password]:focus {
     border-bottom: 2px solid #FF9800;
   }
     .input-field .prefix.active {
       color: #FF9800;
      }
      
  /* SLIDER CONTAINER */
  .slider {
    height: 90vh;
  }
  
  /*SECTION BENEFITS*/
  #benefits {
    background-color: #FFF;
    padding: .5em 0;
  }
    #benefits .presentacion {
      text-align: center;
      padding: 1em 0;
    }
      #benefits .presentacion h4 {
        margin: 0 auto;
        font-weight: bold;
      }
      #benefits .presentacion p {
        font-size: 1.3em;
      }
      
    #benefits .content {
      border-left: .5em #F57C00 solid;
      padding-left: .3em;
    }
      #benefits .content a {
        border: 1px #FF9800 solid;
        border-radius: 3px;
        padding: 10px;
        color: #212121;
      }
      #benefits .content a:hover {
        color: #FFF;
      }
      #benefits .content a:before {
        background: #FF9800;
      }
      
      
  /*SECTION FOOTER*/
  .page-footer {
    text-align: center;
    background-color: #F57C00 !important;
    color: #FFF;
  }
    .page-footer p {
      font-style: italic;
      padding: 10px 0;
    }