<!-- accounts/index -->

{% extends 'base.html' %}

{% block title %}Perfil de usuario{% endblock title %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="center">Perfil de usuario</h2>
    </div>
    <h3>Hola de nuevo {{ user.username }}</h3>
    <div>
        <!-- <img src="{{ MEDIA_URL }}{{ user.userprofile.photo }}" alt="Imagen de {{ user.username }}" /> -->
        {% if user.is_staff %}
          <a href="{% url 'admin:index' %}" class=" modal-action modal-close waves-effect waves-orange btn-flat">Ir al administrador</a>
        {% endif %}
    </div>
</div>

{% endblock content %}
