{% extends 'base.html' %}

{% block title %}Registro de usuario{% endblock title %}

{% block content %}

    <div class="container">
        <div class="formRegistro">
            <div class="page-header">
                <h2 class="center">Registro de Usuario</h2>
            </div>
            
            <form class="container" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary orange">Registrar</button>
            </form>
        </div>
    </div>
    
{% endblock content %}